body {
  cursor: none;
  margin: 0;
  height: 100vh;
}

#container {
  min-width: 100%;
  min-height: 100%;
  background: linear-gradient(270deg, #2ea9e9, #2ee9b6, #e9a02e, #e92e93, #b32ee9);
  background-size: 1000% 1000%;
}

#donut {
  position: absolute;
  display: block;
}
